<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Bible Reading Tracker</a>
    </div>

    <!-- <div class="collapse navbar-collapse"> -->
    <div class="navbar default">
      <ul class="nav navbar-nav">
        <li><a href="#" (click)="OnSelect('calendar')"><span class="glyphicon glyphicon-calendar"></span> Calendar</a></li>
        <li><a href="#" (click)="OnSelect('view-chart')"><span class="glyphicon glyphicon-signal"></span> View Chart</a></li>
        <li><a href="#" (click)="OnSelect('history')"><span class="glyphicon glyphicon-list"></span> History</a></li>
        <!-- <mat-icon svgIcon="history-icon"></mat-icon>  -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li appDropdown class="dropdown">
          <a href="#" class="dropdown-toggle">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>