<div class="row">
  <div class="col-xs-10">
      <div>
        <mat-card class="mat-elevation-z8">
          <section class="mat-typography">
            <h3>Add Daily Reading Details</h3>
            <h2> {{ inputDate }} {{ inputMonth }} {{ inputYear }} </h2>
          </section>
          <mat-divider></mat-divider>
          <br>
          <app-reading-details-edit 
          [inputDate]="inputDate"
          [inputMonth]="inputMonth"
          [inputYear]="inputYear"
          (chapterReadAdded)="onAddChapterRead($event)"></app-reading-details-edit>
        </mat-card>
      </div>
    <hr>
    <ul class="list-group">
      <a 
        class="list-group-item" 
        style="cursor: pointer"
        *ngFor="let chapterRead of chaptersRead">
        {{ chapterRead.book }} {{ chapterRead.chapter }}

        </a>
    </ul>
  </div>
</div>