.select {
    cursor:pointer;
}

table {
    width: 100%;
}

td {
    width: 10%;
    text-align: center;
    padding: 0;
}

th {
    width: 10%;
    text-align: center;
    padding: 0;
}

th.mat-header-cell {
    text-align: center;
}

th.mat-header-cell:first-of-type {
    padding: 0;
}

th.mat-header-cell:last-of-type {
    padding: 0;
}

td.mat-cell:first-of-type {
    padding: 0;
}

th.mat-cell:first-of-type {
    padding: 0;
}

td.mat-cell:last-of-type {
    padding: 0;
}

th.mat-cell:last-of-type {
    padding: 0;
}

.ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  }
  /* For grey, use rgba(0, 0, 0, 0.12) */
  .ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
  }

.selected {
    background-color: #6eb9f7;
}