<div class="row">
  <div class="col-md-7">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h4>Calendar</h4>
      </div>

      <!-- <div appDropdown class="btn-group">
        <button 
          type="button" 
          class="btn btn-primary dropdown-toggle">
          {{ yearSelected }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let elYear of years"><a (click)="OnSelectYear(elYear)">{{ elYear }}</a></li>
        </ul>
      </div>

      <div appDropdown class="btn-group">
        <button 
          type="button" 
          class="btn btn-primary dropdown-toggle">
          {{ monthSelected }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let elMonth of months"><a (click)="OnSelectMonth(elMonth)">{{ elMonth }}</a></li>
        </ul>
      </div> -->

      <mat-card>
        <button mat-raised-button [matMenuTriggerFor]="menuYear" color="primary">{{ yearSelected }}<span class="caret"></span></button>
        <mat-menu #menuYear="matMenu">
          <button 
          mat-menu-item 
          *ngFor="let elYear of years" 
          (click)="OnSelectYear(elYear)">
          {{ elYear }}</button>
        </mat-menu>

        <div class="divider"></div>

        <button mat-raised-button [matMenuTriggerFor]="menuMonth" color="primary">{{ monthSelected }}<span class="caret"></span></button>
        <mat-menu #menuMonth="matMenu">
          <button 
          mat-menu-item 
          *ngFor="let elMonth of months" 
          (click)="OnSelectMonth(elMonth)">
          {{ elMonth }}</button>
        </mat-menu>
      </mat-card>
      
      <!-- TODO: Change onSelectDate() function to select date component -->

      <!-- Table -->
      <app-date-populator 
      (onSelecteDateOnCalendar)="onDateSelectedOnCalendar($event)"
      [inputYear]="yearSelected"
      [inputMonth]="monthSelected"
      [inputDate]="dateSelected"
      [refreshRequested]="refreshDatePopulator">
      </app-date-populator>
    </div>
  </div>     
  <div class="col-md-5">
    <app-reading-details
    [inputYear]="yearSelected"
    [inputMonth]="monthSelected"
    [inputDate]="dateSelected"
    (chapterReadAdded)="onAddChapterRead($event)"></app-reading-details>
  </div>
</div>
